<!-- Generated template for the GameModeComponent component -->
<div class="mode-back"></div>
<div class="mode-main">
  <div class="zero-one-item">
    <div class="item-text item-center">301</div>
    <img class="item-img item-center" src="../../assets/imgs/circle_01.svg" tappable (click)="setZeroOne(301)">
  </div>
  <div class="zero-one-item">
    <div class="item-text item-center">501</div>
    <img class="item-img item-center" src="../../assets/imgs/circle_01.svg" tappable (click)="setZeroOne(501)">
  </div>
  <div class="zero-one-item">
    <div class="item-text item-center">701</div>
    <img class="item-img item-center" src="../../assets/imgs/circle_01.svg" tappable (click)="setZeroOne(701)">
  </div>
  <div class="zero-one-item">
    <div class="item-text item-center">901</div>
    <img class="item-img item-center" src="../../assets/imgs/circle_01.svg" tappable (click)="setZeroOne(901)">
  </div>
</div>
