game-mode {

}
.mode-back{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.86;
  z-index: 99;
}
.mode-main{
  position: absolute;
  width: 100vw;
  height: 100vh;
  opacity: 1;
  z-index: 100;
  .zero-one-item{
    width:100%;
    height: 25%;
    position: relative;
    color:white;
    .item-text{
      position: absolute;
      font-size: 3em;
      font-weight: bold;
      width:auto;
      height: auto;
    }
    .item-img{
      height: 75%;
    }
  }
}