<!-- Generated template for the CreateAccountComponent component -->
<div class="create-account-back">
</div>

<div class="create-account-main">
  <div class="modal-cont item-center">
    <div class="top-label">
      <div class="text item-center">Create Account</div>
    </div>
    <div *ngIf="!_registerAccount" class="body">
      <!-- email -->
      <div class="item-label">
        <div class="text item-left">ID (Email: you'll get season report)</div>
      </div>
      <ion-item class="item-input">
        <ion-label floating>abcd@email.com</ion-label>
        <ion-input type="text" #email></ion-input>
      </ion-item>
      <!-- passwd -->
      <div class="item-label">
        <div class="text item-left">Password</div>
      </div>
      <ion-item class="item-input">
        <ion-input type="password" #passwd></ion-input>
      </ion-item>
      <!-- re-passwd -->
      <div class="item-label">
        <div class="text item-left">Re-Password</div>
      </div>
      <ion-item class="item-input">
        <ion-input type="password" #repasswd></ion-input>
      </ion-item>
      <!-- name -->
      <div class="item-label">
        <div class="text item-left">Name</div>
      </div>
      <ion-item class="item-input">
        <ion-label floating>Do not write => .,'"!@#$%^&*()</ion-label>
        <ion-input type="text" #name></ion-input>
      </ion-item>
      <div class="item-label">
        <div class="text-red item-center">{{reason}}</div>
      </div>
    </div>

    <div class="bottom-button">
      <div class="left" tappable (click)="clickCancel()">
        <div class="text item-center">Cancel</div>
      </div>
      <div class="right" tappable (click)="clickOK()">
        <div class="text item-center">OK</div>
      </div>
    </div>
  </div>
</div>

