<div class="finish-check-back">
</div>

<div class="finish-check-main">
    <div class="modal-cont item-center">
      <div class="top-label">
        <div class="text item-center">Finish Darts Check</div>
      </div>
      <div class="body">

        <div class="item-box">
          <div class="box item-center" tappable (click)="clickDarts(1)" [ngStyle]="getBoxStyle(1)">
            <div class="box-top">
              <div class="text item-center">1</div>
            </div>
            <div class="box-bottom">
              <div class="text item-center">Darts</div>
            </div>
          </div>
        </div>

        <div class="item-box">
          <div class="box item-center" tappable (click)="clickDarts(2)" [ngStyle]="getBoxStyle(2)">
            <div class="box-top">
              <div class="text item-center">2</div>
            </div>
            <div class="box-bottom">
              <div class="text item-center">Darts</div>
            </div>
          </div>
        </div>

        <div class="item-box">
          <div class="box item-center" tappable (click)="clickDarts(3)" [ngStyle]="getBoxStyle(3)">
            <div class="box-top">
              <div class="text item-center">3</div>
            </div>
            <div class="box-bottom">
              <div class="text item-center">Darts</div>
            </div>
          </div>
        </div>
      </div>
      <div class="bottom-button">
        <div class="left" tappable (click)="clickCancel()">
          <div class="text item-center">Cancel</div>
        </div>
        <div class="right" tappable (click)="clickOk()" [ngStyle]="getButtonStyle()">
          <div class="text item-center">OK</div>
        </div>
      </div>
    </div>
  </div>
