finish-check {

}


.finish-check-back{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.9;
  z-index: 10000;
}
.finish-check-main{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding-top: 20%;
  padding-bottom: 20%;
  padding-right: 7%;
  padding-left: 7%;
  z-index: 10001;
  overflow-y: auto;
  .modal-cont{
    position: relative;
    width: 100%;
    height: 20em;
    border-radius: 0.4em;
    background-color: #FFFFFF;
    box-shadow: #FFFFFF 1px 0px 7px;
    .top-label{
      position: relative;
      width: 100%;
      height: 20%;
      border-top-left-radius: 0.4em;
      border-top-right-radius: 0.4em;
      background-color: #111111;
      .text{
        font-size: 1.5em;
        font-weight: bold;
      }
    }
    .body{
      position: relative;
      width: 100%;
      height: 60%;
      overflow-y: auto;
      padding-left: 1em;
      padding-right: 1em;
      .item-box{
        position: relative;
        width: 33.33%;
        height: 100%;
        float: left;
      }
      .box{
        width: 95%;
        height: 50%;
        background-color: #cfcfCf;
        border-radius: 0.4em;
        .box-top{
          position: relative;
          width: 100%;
          height: 50%;
          .text{
            font-size: 1.8em;
            font-weight: bold;
          }
        }
        .box-bottom{
          position: relative;
          widows: 100%;
          height: 50%;
          .text{
            font-size: 1.1em;
          }
        }
      }
    }
    .bottom-button{
      position: relative;
      width: 100%;
      height: 20%;
      border-bottom-left-radius: 0.4em;
      border-bottom-right-radius: 0.4em;
      .left{
        position: relative;
        width: 50%;
        height: 100%;
        float: left;
        border-bottom-left-radius: 0.4em;
        background-color: #cb2855;
      }
      .left :active{
        background-color: #cb8888;
      }
      .right{
        position: relative;
        width: 50%;
        height: 100%;
        display: inline-block;
        border-bottom-right-radius: 0.4em;
        background-color: #5A8bff;
      }
      .right :active{
        background-color: #8A8bff;
      }
    }
  }
}