<div class="custom-dialog-back">
</div>

<div class="custom-dialog-main">
    <div class="modal-cont item-center">
      <div class="top-label">
        <div class="text item-center">{{titleText}}</div>
      </div>
      <div class="body">

        <div class="item-box">
          <div class="text item-center">{{textBody}}</div>
        </div>

      </div>
      <div class="bottom-button">
        <div *ngIf="!btnOnlyOk" class="left" tappable (click)="clickCancel()">
          <div class="text item-center">Cancel</div>
        </div>
        <div *ngIf="!btnOnlyOk" class="right" tappable (click)="clickOk()">
          <div class="text item-center">OK</div>
        </div>
        <div *ngIf="btnOnlyOk" class="one-btn" tappable (click)="clickOk()">
          <div class="text item-center">OK</div>
        </div>
      </div>
    </div>
  </div>
