<div class="login-dialog-back">
</div>

<div class="login-dialog-main">
  <div class="modal-cont item-center">
    <div class="top-label">
      <div class="text item-center">{{userItem.email}}</div>
    </div>
    <div class="body">
      <ion-item class="item-box item-center">
        <ion-label floating>Password</ion-label>
        <ion-input type="password" #passwd></ion-input>
      </ion-item>
    </div>
    <div class="bottom-button">
      <div class="left" tappable (click)="clickCancel()">
        <div class="text item-center">Cancel</div>
      </div>
      <div class="right" tappable (click)="clickOk()">
        <div class="text item-center">OK</div>
      </div>
    </div>
  </div>
</div>
