game-setup {

}
.game-setup-main{
  position: relative;
  width: 100%;
  height: 100%;
  .setup-item{
    position: relative;
    height: 32%;
    background-color: #f0f0f0;
    .item-top{
      position: relative;
      width: 100%;
      height: 32%;
      .text{
        color: #4b4b4b;
        font-size: 3em;
        font-weight: bold;
      }
    }
    .item-bottom{
      position: relative;
      width: 100%;
      height: 68%;
      .text{
        color:white;
        font-size:4em;
        font-weight: bold;
      }
      .item-control{
        position: relative;
        width: 50%;
        height: 100%;
        opacity: 0.7;
        float: left;
      }
      .img-circle{
        height: 75%;
      }
      .img-mini{
        height: 40%;
      }
    }
  }
  .diddle-item{
    height: 36%;
  }
}