<!-- Generated template for the GameSetupComponent component -->
<div class="game-setup-main">
  <div class="setup-item">
    <div class="item-top">
      <div class="text item-center">Round</div>
    </div>
    <div class="item-bottom">
      <div class="item-control bk-accent-blue" tappable (click)="roundControl('-')"></div>
      <div class="item-control bk-accent-red" tappable (click)="roundControl('+')"></div>
      <img class="img-circle item-center" src="../../assets/imgs/w_circle.svg">
      <img class="img-mini item-right" src="../../assets/imgs/w_plus.svg" tappable (click)="roundControl('+')">
      <img class="img-mini item-left" src="../../assets/imgs/w_minus.svg" tappable (click)="roundControl('-')">
      <div class="item-center text">{{round}}</div>
    </div>
  </div>
  <div class="setup-item">
  </div>
  <div class="diddle-item">

  </div>
</div>
