<!-- directive example-->
<!-- <group-game-scorer [rightScore]=selectedColumnScore (sendData)="receiveData($event)" *ngIf="openInputScorer"></group-game-scorer> -->
<create-account *ngIf="openCreateAccount" (resultCb)="registAccountResult($event)"></create-account>
<game-mode *ngIf="openModeSelect" (resultCb)="setMode($event)"></game-mode>
<finish-game *ngIf="openFinishedGame" [user1]=user1FinishedData [user2]=user2FinishedData (nextGameCb)="goToNextGame($event)" (resetOfGameCb)="doResetOfGame($event)"></finish-game>
<finish-check *ngIf="openFinishedCheck" (resultCb)="finishedDartsResult($event)"></finish-check>
<find-user *ngIf="openFindUser" [type]=findUserType (chooseUser)="foundUserItem($event)" (cancel)="cancelFindUser($event)"></find-user>
<custom-dialog *ngIf="openCustomDialog" [btnOnlyOk]="cOnlyOk" [topic]="cTopic" [titleText]="cTitleText" [textBody]="cTextBody" (resultCb)="customDialogResult($event)"></custom-dialog>
<user-report *ngIf="openUserReport" [userId]=reportUserUid (closeCallback)="reportShowDone($event)"></user-report>
<notice-board *ngIf="openNoticeBoard" [user]="noticeLoginUser" (closeCb)="handleNoticeBoard($event)"></notice-board>
<div class="main">
  <div class="top">
    <div class="top-half-div" [ngStyle]="userScoreBackGround(0)">
      <user-score *ngIf="isReady" [userInfo]=user1 (userChangeCb)="clickUserChange($event)" (resultCb)="clickUserScore($event)"></user-score>
    </div>
    <div class="top-half-div" style="display: inline-block" [ngStyle]="userScoreBackGround(1)">
      <user-score *ngIf="isReady" [userInfo]=user2 (userChangeCb)="clickUserChange($event)" (resultCb)="clickUserScore($event)"></user-score>
    </div>
  </div>
  <div class="bottom-div">
    <game-setup *ngIf="openGameSetup" (resultCb)="gameSetup($event)"></game-setup>
    <key-board *ngIf="openKeyBoard" [drData]=keyboardData (resultCb)="inputScore($event)" (modifyCb)="modifyScore($event)"></key-board>
  </div>
  <div class="menu-btn" menuToggle tappable>
      <img [ngStyle]="arrowStyle()" class="menu-img" src="../../assets/imgs/settings.svg">
    </div>
</div>
