page-home {
}
.menu-content-open{
  
}
.main{
  position: relative;
  width:100%;
  height: 100%;
  overflow: hidden;
  .top{
    position: relative;
    width: 100%;
    height: 35%;
  }
  .top-half-div{
    position: relative;
    width: 50%;
    height: 100%;
    float: left;
  }
  .bottom-div{
    position: relative;
    width: 100%;
    height: 65%;
  }
}

.menu-btn{
  position: absolute;
  width: 3em;
  height: 3em;
  left: 1em;
  bottom: 1em;
  .menu-img{
    width: 2.5em;
    transition: transform .5s ease-in-out;
  }
}

.rotate-180 {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
