user-score {

}

.user-score-frame{
  position: relative;
  width: 100%;
  height: 100%;
  .score-top{
    position: relative;
    width:100%;
    height: 50%;
    .upper{
      position: relative;
      width: 100%;
      height: 30%;
      .tu-left{
        position: relative;
        width: 25%;
        height: 100%;
        float: left;
        .img-user{
          height: 80%;
        }
      }
      .tu-right{
        position: relative;
        width: 75%;
        height: 100%;
        display: inline-block;
        .text{
          font-size: 1.4em;
          font-weight: bold;
          color: white;
        }
      }
    }
    .lower{
      position: relative;
      width: 100%;
      height: 70%;
    }
    .score-text{
      font-size:5em;
      font-weight: bold;
      color: white;
    }
  }
  .score-bottom{
    position: relative;
    width:100%;
    height: 50%;
    padding-left: 1em;
    .live-item{
      position: relative;
      width:100%;
      height: 25%;
      .live-item-topic{
        position: relative;
        width: 57.5%;
        height: 100%;
        float: left;
        .topic-text{
          font-size: 1.1em;
          font-weight: bold;
          color: white;
        }
      }
      .live-item-value{
        position: relative;
        width: 42.5%;
        height: 100%;
        display: inline-block;
        .value-text{
          font-size: 1.4em;
          font-weight: bold;
          color: white;
        }
      }

    }
  }
}