<!-- Generated template for the UserScoreComponent component -->
<div class="user-score-frame">
  <div class="score-top">
    <div class="upper" tappable (click)="userClick()">
      <div *ngIf="userInfo.name.length > 0" class="tu-left">
        <img class="img-user item-center" src="../../assets/imgs/dart-board.svg">
      </div>
      <div *ngIf="userInfo.name.length == 0" class="tu-left">
        <img class="img-user item-center" src="../../assets/imgs/unknown.svg">
      </div>
      <div *ngIf="userInfo.name.length > 0" class="tu-right">
        <div class="text item-left">
          {{userInfo.name}}
        </div>
      </div>
      <div *ngIf="userInfo.name.length == 0" class="tu-right">
        <div class="text item-left">
          Unknown
        </div>
      </div>
    </div>
    <div class="lower" tappable (click)="scoreClick()">
        <div class="score-text item-center">
            {{userInfo.currentScore}}
          </div>
    </div>
  </div>
  <div class="score-bottom" tappable (click)="scoreClick()">
    <!-- win count -->
    <div class="live-item">
      <div class="live-item-topic">
        <div class="topic-text item-left">Round Win</div>
      </div>
      <div class="live-item-value">
        <div class="value-text item-center"> {{userInfo.currentWinCount}} </div>
      </div>
    </div>
    <!-- Average PPR -->
    <div class="live-item">
      <div class="live-item-topic">
        <div class="topic-text item-left">Avg PPR</div>
      </div>
      <div class="live-item-value">
        <div class="value-text item-center"> {{userInfo.roundAveragePPR}} </div>
      </div>
    </div>

    <!-- Ton count -->
    <div class="live-item">
      <div class="live-item-topic">
        <div class="topic-text item-left">Over TON</div>
      </div>
      <div class="live-item-value">
        <div class="value-text item-center"> {{userInfo.roundTon}} </div>
      </div>
    </div>
    <!-- Ton count -->
    <div class="live-item">
      <div class="live-item-topic">
        <div class="topic-text item-left">TON 80</div>
      </div>
      <div class="live-item-value">
        <div class="value-text item-center"> {{userInfo.roundTon80}} </div>
      </div>
    </div>


  </div>
</div>
