// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

// div {
//   font-family: bmdohyeon;
// }
.bk-accent-blue{
  background-color: #397bff;
}
.bk-accent-red{
  background-color: #cb1744;
}
.text-active{
  color: #ebf1fd
}
.text-disable{
  color: #cbcfd5
}
.item-center{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.item-right{
  position: absolute;
  top: 50%;
  right: 2.5%;
  transform: translate(0%, -50%);
}
.item-left{
  position: absolute;
  top: 50%;
  left: 2.5%;
  transform: translate(0%, -50%);
}
.img-item-s{
  width: 33%;
}
.img-item{
  width: 40%;
}
// side bar 
.sidebar-main{
  width: 100%;
  height: 100%;
  position: relative;
  .text{
    width: fit-content;
    font-size: 1.4em;
    font-weight: bold;
    color:white;
  }
  .text-blue{
    font-size: 1.2em;
    font-weight: bold;
    color: #AAAAFF;
  }
  .text-red{
    font-size: 1.2em;
    font-weight: bold;
    color: #FFAAAA;
  }
  .user-cont{
    position: relative;
    width: 100%;
    height: 50%;
    background-color: #5A5AdF;
    border-bottom: solid 0.1em white;

    .left{
      position: relative;
      width:50%;
      height: 100%;
      float: left;
      background-color: #5A8bff; 
    }
    .right{
      position: relative;
      width:50%;
      height: 100%;
      display: inline-block;
      background-color: #cb2855;
    }
  }
  .menus-cont{
    width:100%;
    height: 50%;
    position: relative;
    .single-text-cont{
      position: relative;
      width: 100%;
      height: 25%;
      background-color: #111111;
      opacity: 0.8;
      border-bottom: solid 0.1em white;
      .left{
        position: relative;
        width:30%;
        height: 100%;
        float: left;
      }
      .right{
        position: relative;
        width:70%;
        height: 100%;
        display: inline-block;
      }
    }

    .double-text-cont{
      position: relative;
      width: 100%;
      height: 25%;
      background-color: #111111;
      border-bottom: solid 0.1em white;
      .left{
        position: relative;
        width:30%;
        height: 100%;
        float: left;
        .img-item{
          width: 33%;
        }
      }
      .right{
        position: relative;
        width:70%;
        height: 100%;
        display: inline-block;
        padding-top: 1.2em;
        padding-bottom: 1.2em;
        .br-top{
          width:100%;
          height: 50%;
          position: relative;
        }
        .br-bottom{
          width:100%;
          height: 50%;
          position: relative;
        }
      }
    }
  }
}

