<ion-menu id="l-side" [content]="content" (ionOpen)="menuOpen()" (ionClose)="menuClose()">
  <div class="sidebar-main">
    <div class="user-cont">
      <div class="left">
        <img *ngIf="!!!user1" class="img-item item-center" src="../assets/imgs/need-login.svg" tappable (click)="clickFindUser('findUser1')">
        <user-summary-view *ngIf="!!user1" [userIdent]=user1Id [userData]=user1></user-summary-view>
      </div>
      <div class="right">
        <img *ngIf="!!!user2" class="img-item item-center" src="../assets/imgs/need-login.svg" tappable (click)="clickFindUser('findUser2')">
        <user-summary-view *ngIf="!!user2" [userIdent]=user2Id [userData]=user2></user-summary-view>
      </div>
    </div>
    <div class="menus-cont">
      <div class="single-text-cont" tappable (click)="clickCreateAccount()">
        <div class="left">
            <img class="img-item-s item-center" src="../assets/imgs/plus-circle.svg">
        </div>
        <div class="right">
          <div class="text item-left">
            Create Account
          </div>
        </div>
      </div>
      <div class="single-text-cont" tappable (click)="clickChangeMode()">
        <div class="left">
            <img class="img-item-s item-center" src="../assets/imgs/refresh.svg">
        </div>
        <div class="right">
          <div class="text item-left">
            Change 01 mode
          </div>
        </div>
      </div>

      <div class="double-text-cont" tappable (click)="clickOneLineNotice()">
        <div class="left">
            <img class="img-item-s item-center" src="../assets/imgs/chat.svg">
        </div>
        <div class="right">
          <div class="text item-left">
            1-line Notice board
          </div>
        </div>
      </div>

      <div class="double-text-cont" tappable (click)="clickFindUser('findUserReport')">
        <div class="left">
            <img class="img-item-s item-center" src="../assets/imgs/ic_search.svg">
        </div>
        <div class="right">
          <div class="br-top">
            <div class="text item-left">
              Find User
            </div>
          </div>
          <div class="br-bottom">
            <div class="text item-left">
              Show Histories
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-menu>
<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>