<!-- Generated template for the FinishGameComponent component -->
<div class="finish-back">
</div>
<div class="finish-main">
  <div class="top">
    <div class="text item-center">RESULT</div>
  </div>
  <div class="middle">
    <div class="left">
      <div class="result-item" *ngFor="let item of user1">
        <div class="value">
          <div class="text-blue item-center">{{item[1]}}</div>
        </div>
      </div>
    </div>
    <div class="inner-middle">
      <div class="result-item" *ngFor="let item of user1">
        <div class="topic">
          <div class="text item-center">{{item[0]}}</div>
        </div>
      </div>
    </div>
    <div class="right">
      <div class="result-item" *ngFor="let item of user2">
        <div class="value">
          <div class="text-red item-center">{{item[1]}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom">
    <div class="left">
      <div class="btn item-center" tappable (click)="clickResetGame()">
        <img class="item-center button-img" src="../../assets/imgs/button.svg">
        <div class="text item-center">Reset Game</div>
      </div>
    </div>
    <div class="right">
      <div class="btn item-center" tappable (click)="clickNextGame()">
        <img class="item-center button-img" src="../../assets/imgs/button.svg">
        <div class="text item-center">Next Game</div>
      </div>
    </div>
  </div>
</div>

