finish-game {

}
.finish-back{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.9;
  z-index: 1;
}
.result-item{
  position: relative;
  width: 100%;
  height: 2.6em;
  margin-bottom:0.5em;
  padding-bottom: 0.2em;
  border-bottom: solid 1px #555555;
}
.item-left{
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0%, -50%);
}
.topic{
  position: relative;
  width:100%;
  height: 100%;
}
.value{
  position: relative;
  width:100%;
  height: 100%;
  display: inline-block;
}
.text{
  width: fit-content;
  font-size: 1.2em;
  font-weight: bold;
  color:white;
}
.text-blue{
  font-size: 1.2em;
  font-weight: bold;
  color: #AAAAFF;
}
.text-red{
  font-size: 1.2em;
  font-weight: bold;
  color: #FFAAAA;
}

.finish-main{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  .top{
    position: relative;
    width: 100%;
    height: 15%;
    border-bottom: solid 1px white;
    .text{
      font-size: 2.5em;
      font-weight: bold;
      color: white;
    }
  }

  .middle{
    position: relative;
    width: 100%;
    height: 70%;
    border-bottom: solid 1px white;
    overflow-y: auto;
    .left{
      position: relative;
      width:30%;
      height: 100%;
      float: left;
      border-right: solid 1px #AAAAFF;
    }
    .inner-middle{
      position: relative;
      width:40%;
      height: 100%;
      float: left;
    }
    .right{
      position: relative;
      width:30%;
      height: 100%;
      border-left: solid 1px #FFAAAA;
      display: inline-block;
    }
  }

  .bottom{
    position: relative;
    width: 100%;
    height: 15%;
    .button-img{
      height: 80%;
    }
    .text{
      width: fit-content;
      font-size: 1.3em;
      font-weight: bold;
      color: white;
    }
    .btn{
      width: 80%;
      height: 80%;
    }
    .left{
      position: relative;
      width:50%;
      height: 100%;
      float: left;
      color: #FFFFFF;
    }
    .right{
      position: relative;
      width:50%;
      height: 100%;
      display: inline-block;
    }
  }
}




