key-board {

}
.keyboard-main{
  position: relative;
  width: 100%;
  height: 100%;
  border-top: solid 1px white;
  .history{
    position: relative;
    width: 20%;
    height: 100%;
    float: left;
    border-right: solid 2px white;
    .top{
      position: relative;
      width: 100%;
      height: 15%;
      .text{
        color: white;
        font-size: 1.2em;
        font-weight: bold;
      }
    }
    .histories{
      position: relative;
      width: 100%;
      height: 70%;
      overflow-y: auto;
      .item-text{
        position: relative;
        width:100%;
        height: 1.2em;
        font-size: 2em;
        font-weight: bold;
        color: white;
      }
    }
    .bottom{
      position: relative;
      width: 100%;
      height: 15%;
    }
  }
  .history-r{
    position: relative;
    width: 20%;
    height: 100%;
    border-left: solid 2px white;
    display: inline-block;
    .top{
      position: relative;
      width: 100%;
      height: 15%;
      .text{
        color: white;
        font-size: 1.2em;
        font-weight: bold;
      }
    }
    .histories{
      position: relative;
      width: 100%;
      height: 70%;
      overflow-y: auto;
      .item-text{
        position: relative;
        width:100%;
        height: 1.2em;
        font-size: 2em;
        font-weight: bold;
        color: white;
      }
    }
    .bottom{
      position: relative;
      width: 100%;
      height: 15%;
    }
  }
  .putter{
    position: relative;
    width: 60%;
    height: 100%;
    float: left;
    .top{
      position: relative;
      width: 100%;
      height: 15%;
      .back-color{
        position: absolute;
        width:100%;
        height: 100%;
        left: 0;
        top: 0;
        opacity: 0.8;
        background-color: #9c8c8c;
      }
      .text{
        font-size: 3em;
        font-weight: bold;
        color: white;
        opacity: 1;
      }
    }
    .bottom{
      position: relative;
      width: 100%;
      height: 67%;
      padding-left: 0.5em;
      padding-bottom: 0.5em;
      padding-top: 0.5em;
      .numeric-keyboard{
        position: relative;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 31% 31% 31%;
        grid-gap: 2%;
        color: #444;
        .key-box {
          position: relative;
          background-color: #444;
          color: #fff;
          border-radius: 1em;
          box-shadow: 3px 3px #585b60;
          opacity: 1;
          .text{
            font-size: 2em;
            font-weight: bold;
          }
        }
        .key-box:active {
          opacity: 0.7;
        }
      }
    }

    .shortkey{
      position: relative;
      width:100%;
      height: 18%;
      padding-top: 0.2em;
      padding-bottom: 0.2em;
      padding-left: 0.5em;
      padding-right: 0.5em;
      .numeric-keyboard{
        position: relative;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 23.5% 23.5% 23.5% 23.5%;
        grid-template-rows: 46% 46%;
        grid-row-gap: 5%;
        grid-column-gap: 2%;
        color: #444;
        .key-box {
          position: relative;
          background-color: #444;
          color: #fff;
          border-radius: 0.6em;
          box-shadow: 1px 1px #585b60;
          opacity: 1;
          .text{
            font-size: 1.6em;
            font-weight: bold;
          }
        }
        .key-box:active {
          opacity: 0.7;
        }
      }
    }

    .short-finish{
      position: relative;
      width:100%;
      height: 18%;
      padding: 0.5em;
      .numeric-keyboard{
        position: relative;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 48% 48%;
        grid-gap: 2%;
        color: #444;
        .key-box {
          position: relative;
          background-color: #444;
          color: #fff;
          border-radius: 0.6em;
          box-shadow: 3px 3px #585b60;
          opacity: 1;
          .text{
            font-size: 2em;
            font-weight: bold;
          }
        }
        .key-box:active {
          opacity: 0.7;
        }
      }
    }

  }
}