<!-- Generated template for the KeyBoardComponent component -->
<div class="keyboard-main" [ngStyle]="setBackground()">
  <!-- HISTORY -->
  <div class="history" [ngStyle]="setHistoryPannel(0)">
    <div class="top"> 
      <div class="text item-center">Scored</div>
    </div>
    <div class="histories" >
     <div  *ngFor="let score of drData.history1; let i = index">
        <div class="item-text">
            <div class="item-center" tappable (click)="historyClick(i, 0)">
                {{score}}
            </div>
          </div>
      </div>
    </div>
    <div class="bottom">
    </div>
  </div>
  <!-- NUMERIC KEYBOARD -->
  <div class="putter" [ngStyle]="setBackground()">
    <div class="top">
      <div class="back-color"></div>
      <div class="text item-center">{{_score}}</div>
    </div>

    <div class="bottom">
      <div class="numeric-keyboard">
        <div id="1" class="key-box" tappable (click)="keyboardClick(1)">
          <div class="text item-center">1</div>
        </div>
        <div id="2" class="key-box" tappable (click)="keyboardClick(2)">
          <div class="text item-center">2</div>
        </div>
        <div id="3" class="key-box" tappable (click)="keyboardClick(3)">
          <div class="text item-center">3</div>
        </div>
        <div id="4" class="key-box" tappable (click)="keyboardClick(4)">
          <div class="text item-center">4</div>
        </div>
        <div id="5" class="key-box" tappable (click)="keyboardClick(5)">
          <div class="text item-center">5</div>
        </div>
        <div id="6" class="key-box" tappable (click)="keyboardClick(6)">
          <div class="text item-center">6</div>
        </div>
        <div id="7" class="key-box" tappable (click)="keyboardClick(7)">
          <div class="text item-center">7</div>
        </div>
        <div id="8" class="key-box" tappable (click)="keyboardClick(8)">
          <div class="text item-center">8</div>
        </div>
        <div id="9" class="key-box" tappable (click)="keyboardClick(9)">
          <div class="text item-center">9</div>
        </div>
        <div id="DEL" class="key-box" tappable (click)="keyboardExtraClick('DEL')">
          <div class="text item-center">DEL</div>
        </div>
        <div id="0" class="key-box" tappable (click)="keyboardClick(0)">
          <div class="text item-center">0</div>
        </div>
        <div id="OK" class="key-box" tappable (click)="keyboardExtraClick('OK')">
          <div class="text item-center">OK</div>
        </div>
      </div>
    </div>

    <div class=shortkey *ngIf="!drData.isArrange">
      <div class="numeric-keyboard">
        <div id="41" class="key-box" tappable (click)="keyboardExtraClick(41)">
          <div class="text item-center">41</div>
        </div>
        <div id="45" class="key-box" tappable (click)="keyboardExtraClick(45)">
            <div class="text item-center">45</div>
        </div>
        <div id="81" class="key-box" tappable (click)="keyboardExtraClick(81)">
            <div class="text item-center">81</div>
        </div>
        <div id="85" class="key-box" tappable (click)="keyboardExtraClick(85)">
            <div class="text item-center">85</div>
        </div>
        <div id="60" class="key-box" tappable (click)="keyboardExtraClick(60)">
          <div class="text item-center">60</div>
        </div>
        <div id="100" class="key-box" tappable (click)="keyboardExtraClick(100)">
          <div class="text item-center">100</div>
        </div>
        <div id="140" class="key-box" tappable (click)="keyboardExtraClick(140)">
          <div class="text item-center">140</div>
        </div>
        <div id="180" class="key-box" tappable (click)="keyboardExtraClick(180)">
          <div class="text item-center">180</div>
        </div>
      </div>
    </div>

    <div class=short-finish *ngIf="drData.isArrange">
      <div class="numeric-keyboard">
        <div id="BUST" class="key-box" tappable (click)="keyboardExtraClick('BUST')">
          <div class="text item-center">BUST</div>
        </div>
        <div id="FINISH" class="key-box" tappable (click)="keyboardExtraClick('FINISH')">
            <div class="text item-center">FINISH</div>
        </div>
      </div>
    </div>
  </div>
  <div class="history-r" [ngStyle]="setHistoryPannel(1)">
    <div class="top"> 
      <div class="text item-center">Scored</div>
    </div>
    <div class="histories" >
      <div  *ngFor="let score of drData.history2; let i = index">
        <div class="item-text">
            <div class="item-center" tappable (click)="historyClick(i, 1)">
                {{score}}
            </div>
          </div>
      </div>
    </div>
    <div class="bottom">
    </div>
  </div> 
</div>
