user-summary-view {

}
.user-summary-main{
  width: 100%;
  height : 100%;
  position: relative;
  padding: 0.2em;
  .item-cont{
    position: relative;
    width: 100%;
    height: 11%;
    border-bottom: solid 0.1em #ABABAB;
    .sum-left{
      position: relative;
      width: 50%;
      height: 100%;
      float: left;
    }
    .sum-right{
      position: relative;
      width: 50%;
      height: 100%;
      display: inline-block;
    }
  }
  .item-action-cont{
    position: relative;
    width: 100%;
    height: 12%;
    .it-img{
      width: 40%;
    }
    .it-left{
      position: relative;
      width: 50%;
      height: 100%;
      float: left;
      border-right: solid 0.1em #ABABAB;
    }
    .it-right{
      position: relative;
      width: 50%;
      height: 100%;
      display: inline-block;
    }
    .it-left:active{
      opacity: 0.5;
    }
    .it-right:active{
      opacity: 0.5;
    }
  }
  .bold{
    font-weight: bold;
  }
  .text{
    font-size: 1.1em;
    color: #FFFFFF;
  }
  .text-small{
    font-size: 0.8em;
    color: #FFFFFF;
  }
}