<!-- Generated template for the UserSummaryViewComponent component -->
<div class="user-summary-main">
  <div class="item-cont">
    <div class="text bold item-center">{{userData.name}}</div>
  </div>

  <div class="item-cont">
    <div class="sum-left">
      <div class="text-small bold item-left">Rating</div>
    </div>
    <div class="sum-right">
      <div class="text item-center">{{userData.grade}}</div>
    </div>
  </div>
 
  <div class="item-cont">
    <div class="sum-left">
      <div class="text-small bold item-left">PPR</div>
    </div>
    <div class="sum-right">
      <div class="text item-center">{{userData.averagePPR}}</div>
    </div>
  </div> 
  
  <div class="item-cont">
    <div class="sum-left">
      <div class="text-small bold item-left">Win(%)</div>
    </div>
    <div class="sum-right">
      <div class="text item-center">{{userData.winPercentage}}</div>
    </div>
  </div> 
  
  <div class="item-cont">
    <div class="sum-left">
      <div class="text-small bold item-left">Out(%)</div>
    </div>
    <div class="sum-right">
      <div class="text item-center">{{userData.outSuccessPercent}}</div>
    </div>
  </div>

  <div class="item-cont">
    <div class="sum-left">
      <div class="text-small bold item-left">Total Game</div>
    </div>
    <div class="sum-right">
      <div class="text item-center">{{userData.totalGameCount}}</div>
    </div>
  </div>

  <div class="item-cont">
    <div class="sum-left">
      <div class="text-small bold item-left">Toal ton</div>
    </div>
    <div class="sum-right">
      <div class="text item-center">{{userData.tonCount}}</div>
    </div>
  </div>

    <div class="item-cont">
      <div class="sum-left">
        <div class="text-small bold item-left">Total ton80</div>
      </div>
      <div class="sum-right">
        <div class="text item-center">{{userData.ton80Count}}</div>
      </div>
    </div>

  <div class="item-action-cont">
    <div class="it-left" tappable (click)="userSummaryClick()">
      <img class="it-img item-center" src="../../assets/imgs/bar-chart.svg">
    </div>
    <div class="it-right" tappable (click)="userChangeClick()">
      <img class="it-img item-center" src="../../assets/imgs/logout.svg">
    </div>
  </div>
</div>
