notice-board {

}
.notice-back{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.9;
  z-index: 100;
}
.scroll-content{
  z-index: 200;
  padding-bottom: 1em;
  padding-top: 1em;
}
.rotate-center{
  position: absolute;
  top: 0%;
  left: 50%;
  transform: rotate(270deg) translate(-50%, -50%);
}

.infinity-top{
  position: relative;
  width: 100%;
  height: 5em;
  margin-top: -5em;
}
.infinity{
  position: relative;
  width: 100%;
  height: 5em;
}

.content.content-md.has-infinite-scroll{
  z-index: 200;
  background-color: rgba(0, 0, 0, 0) !important;
}

.notice-main{
  position: absolute;
  width: 100%;
  height: 100%;
  .top{
    position: fixed;
    width: 100%;
    height: 5em;
    border-bottom: solid 1px white;
    z-index: 225;
    background-color: #000000;
    .back-img-cont{
      position: absolute;
      width: 3em;
      height: 100%;
      left: 0;
      z-index: 111;
      .back-img{
        width: 80%; 
      }
    }
    
    .text{
      font-size: 1.8em;
      font-weight: bold;
      color: white;
      white-space: nowrap;
    }
  }
  .ion-content-cont{
    width: 100%;
    height: 100%;
    z-index: 105;
  }
  .in-middle{
    position: relative;
    width: 100%;
    z-index: 100;
  }
  .middle{
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 5em;
    padding-bottom: 5em;
    overflow-y: auto;
    .left{
      position: relative;
      width:30%;
      height: 100%;
      float: left;
      border-right: solid 1px #AAAAFF;
    }
    .inner-middle{
      position: relative;
      width:40%;
      height: 100%;
      float: left;
    }
    .right{
      position: relative;
      width:30%;
      height: 100%;
      border-left: solid 1px #FFAAAA;
      display: inline-block;
    }
  }

  .bottom{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5em;
    border-top: solid 1px white;
    z-index: 225;
    background-color: #000000;
    .button-img{
      height: 80%;
    }
    .label-ios{
      margin: 0px 0px 0px 0px !important;
    }
    .label{
      color: #ACACAC !important;
      margin: 0px 0px 0px 0px !important;
    }
    .item-input.item.item-block.item-ios.item-label-floating{
      background-color: #000000FF !important;
      color: #FFFFFF !important;
    }
    .item-input.item.item-block.item-label-floating{
      background-color: #000000 !important;
      color: #FFFFFF !important;
    }
    .input-wrapper{
      border-bottom:solid 1px #CACACA !important;
    }
    .item-inner{
      border-bottom:none !important;
    }
    .label.label-ios{
      color: #ACACAC !important;
    }

    .item-input{
      position: relative;
      width: 100%;
      height: 3.6em;
    }
    .text{
      width: fit-content;
      font-size: 1.3em;
      font-weight: bold;
      color: white;
    }
    .btn{
      width: 80%;
      height: 80%;
    }
    .left{
      position: relative;
      width:80%;
      height: 100%;
      float: left;
      color: #FFFFFF;
      .word-length-cont{
        position: absolute;
        right: 0.8em;
        top: 0;
        width: auto;
        font-size: 1.4rem;
        height: 1em;
        z-index: 105;
        color: #CACACA;
      }
    }
    .right{
      position: relative;
      width:20%;
      height: 100%;
      display: inline-block;
      padding: 0.3em;
      z-index: 105;
      .button-img{
        width: 90%;
      }
      .button-text{
        font-size: 1.1em;
        color: #FFFFFF;
        font-weight: bold;
      }
    }
  }
}


.name-font{
  font-size: 1.8rem;
  font-weight: bold;
  white-space: nowrap;
}
.date-font{
  font-size: 1.5rem;
  white-space: nowrap;
}
.notice-font{
  font-size: 1.6rem;
  white-space: nowrap;
}
.notice-block{
  position: relative;
  width: 100%;
  height: 4.5em;
  min-height: 4.5em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  z-index: 102;
  overflow-y: hidden;
  .inner-block{
    position: relative;
    width:100%;
    height: 100%;
    border-radius: 0.3em;
    border: solid 1px #b8ff46;
    z-index: 102;
    padding-left: 0.3em;
    .top{
      position: relative;
      width: 100%;
      height: 40%;
      border: none !important;
      z-index: 102;
      color: white;
      border-top-left-radius : 0.3em;
      border-top-right-radius : 0.3em;
      background-color: none !important;
  background-color: rgba(0, 0, 0, 0.3) !important;
      .left{
        position: relative;
        width: 50%;
        height: 100%;
        float: left;
        overflow-x: hidden;
        overflow-y: hidden;
        border-right: none !important;
      }
      .right{
        position: relative;
        width: 50%;
        height: 100%;
        overflow-x: hidden;
        display: inline-block;
        border-left: none !important;
      }
    }
    .bottom{
      background-color: none !important;
      position: relative;
      width: 100%;
      height: 60%;
      border-bottom-left-radius : 0.3em;
      border-bottom-right-radius : 0.3em;
  background-color: rgba(0, 0, 0, 0.3) !important;
      border: none !important;
      z-index: 102;
      color: white;
      overflow-x: auto;
    }
  }
}

.middle-refresh-button-container {
  margin-bottom: 1em;
}

.middle-refresh-button-content {
  color: white;
  text-align: center;
  font-size: 1.2em;
}
