<find-user *ngIf="openFindUser" [type]=findUserType (chooseUser)="foundUserItem($event)" (cancel)="cancelFindUser($event)"></find-user>
<user-report *ngIf="openUserReport" [userId]=reportUserUid (closeCallback)="reportShowDone($event)"></user-report>
<div class="notice-back">
</div>
<div class="notice-main">
  <div class="top">
    <div class="back-img-cont" tappable (click)="close()">
      <img class="back-img rotate-center" rota src="../../assets/imgs/arrow-up.svg">
    </div>
    <div class="text item-center">Notice Board</div>
  </div>
    <div class="middle">
      <ion-content>
        <div class="middle-refresh-button-container" (click)="firstLoad()">
          <div class="middle-refresh-button-content">
            Click To Refresh
          </div>
        </div>
        <div class="in-middle" #middleTop>
          <div class="notice-block" *ngFor="let v of noticeArray" tappable (click)="noticeClick(v.uid)">
            <div class="inner-block">
              <div class="top">
                <div class="left">
                  <div class="item-left name-font">
                    {{v.name}}
                  </div>
                </div>
                <div class="right">
                  <div class="item-right date-font">
                      {{v.time}}
                  </div>
                </div>
              </div>
              <div class="bottom">
                <div class="notice-font item-left">
                  {{v.notice}}
                </div>
              </div>
            </div>
          </div>
        </div>
        <ion-infinite-scroll (ionInfinite)="checkScroll($event)" *ngIf="hasNextNotice()">
            <ion-infinite-scroll-content loadingSpinner="bubbles"></ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </ion-content>
    </div>
  <div class="bottom">
    <div class="left">
      <div class="word-length-cont">
        length: [{{wordLength}}]
      </div>
      <ion-item class="item-input">
        <ion-label floating>Word max length : 50</ion-label>
        <ion-input [(ngModel)]="noticeStringNg" type="text" (input)="onChange()"></ion-input>
      </ion-item>
    </div>
    <div class="right" tappable (click)="sendClick()">
        <img class="item-center button-img" src="../../assets/imgs/button.svg">
        <div class="button-text item-center">Send</div>
    </div>
  </div>
</div>