<!-- Generated template for the FindUserComponent component -->
<login-password *ngIf="opneLoginDialog" [userItem]="selectedUserItem" (resultCb)="loginResultHandler($event)"></login-password>
<div class="find-user-back">
</div>

<div class="find-user-main">
  <div class="modal-cont item-center">
    <div class="top-label">
      <div class="text item-center">Search User</div>
    </div>
    <div class="search-box">
      <ion-item class="item-input">
        <ion-label floating>User name</ion-label>
        <ion-input type="text" #name></ion-input>
      </ion-item>
    </div>
    <div class="button-cont">
      <div class="btn item-center" tappable (click)="findUser()">
          <img class="item-center btn-img" src="../../assets/imgs/ic_search.svg">
      </div>
    </div>
    <div class="body">
      <div *ngIf="!findResult.length; else other" style="width:88%;" class="text item-center">Can't found user name, If you have not account, Please use 'Create Account'</div>
      <ng-template #other>
        <ion-label>ID (Email)</ion-label>
        <div *ngFor="let user of findResult;let i = index" tappable (click)="clickedUserItem(i, user.name)">
          <div class="user-item" [ngStyle]="getUserItemStyle(i)">
            <div class="item-left">{{user.email}}</div>
          </div>
        </div>
      </ng-template>
    </div>
    <div class="bottom-button">
        <div class="left" tappable (click)="clickCancel()">
          <div class="text item-center">Cancel</div>
        </div>
        <div class="right" tappable (click)="clickOK()" [ngStyle]="getButtonStyle()">
          <div class="text item-center">OK</div>
        </div>
      </div>
  </div>
</div>