find-user {

}

.find-user-back{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.9;
  z-index: 10000;
}

.find-user-main{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding-top: 20%;
  padding-bottom: 20%;
  padding-right: 7%;
  padding-left: 7%;
  z-index: 10001;
  overflow-y: auto;
  .modal-cont{
    position: relative;
    width: 100%;
    height: 35em;
    border-radius: 0.4em;
    background-color: #FFFFFF;
    box-shadow: #FFFFFF 1px 0px 7px;
    .top-label{
      position: relative;
      width: 100%;
      height: 13%;
      border-top-left-radius: 0.4em;
      border-top-right-radius: 0.4em;
      background-color: #111111;
      .text{
        font-size: 1.5em;
        font-weight: bold;
      }
    }
    .search-box{
      position: relative;
      width: 80%;
      height: 15%;
      float: left;
    }
    .button-cont{
      position: relative;
      display: inline-block;
      width: 20%;
      height: 15%;
      .btn{
        position: relative;
        width: 90%;
        height: 60%;
        background-color: #b6c420;
        border-radius: 0.5em;
      }
      .btn-img{
        height: 80%;
      }
    }
    .body{
      position: relative;
      width: 100%;
      height: 60%;
      overflow-y: auto;
      padding-left: 1em;
      padding-right: 1em;
      .text{
        color: #454545;
        font-size: 1.2em;
      }
      .item-label{
        position: relative;
        width: 100%;
        height: 1.7em;
        margin-top: 1em;
        .text-red{
          color: #CA1111;
          font-size: 1.2em;
          font-weight: bold;
        }
      }
      .item-input{
        position: relative;
        width: 100%;
        height: 2em;
      }
      .user-item{
        width: 100%;
        height: 3em;
        position: relative;
        border-bottom: solid 1px #A9A9A9;
      }
    }
    .bottom-button{
      position: relative;
      width: 100%;
      height: 12%;
      border-bottom-left-radius: 0.4em;
      border-bottom-right-radius: 0.4em;
      .left{
        position: relative;
        width: 50%;
        height: 100%;
        float: left;
        border-bottom-left-radius: 0.4em;
        background-color: #cb2855;
      }
      .left :active{
        background-color: #cb8888;
      }
      .right{
        position: relative;
        width: 50%;
        height: 100%;
        display: inline-block;
        border-bottom-right-radius: 0.4em;
        background-color: #5A8bff;
      }
      .right :active{
        background-color: #8A8bff;
      }
    }
  }
}