<detail-report *ngIf="openDetailReport" [game]=detailGame (closeCallback)="closeDetailReport($event)"></detail-report>

<div class="report-back">
</div>

<div class="report-main">
  <div class="top-label">
    <img class="back-img item-left rotate-90" rota src="../../assets/imgs/arrow-up.svg" tappable (click)="clickCancel()">
    <div class="text item-center">MATCH REPORT</div>
  </div>
  <div class="item-label top-margin">
    <div class="text">Recently {{getGameLength}} Games PPR</div>
  </div>
  <div class="recently-chart">
    <!-- <div id="echart" echarts [options]="options" style="width:100%;height: 100%;"></div> -->
    <div id="echart" style="width:100%;height: 100%;"></div>
  </div>
  <div class="item-label">
    <div class="text">By Date (Recently {{getDateLength}} Days)</div>
  </div>
  <div *ngIf="!!reportData" class="date-report">
    <div *ngFor="let d of reportData;">
      <div class="date-line">
        <div class="date-top-label item-left">{{d.date}}</div>
      </div>
      <div *ngFor="let g of d.game;">
        <div class="g-summary" tappable (click)="detailReport(g)">
          <div class="g-cont">
            <div class="cont-left">
              <div *ngIf="g.game._winCount" class="item-center text-green">WIN</div>
              <div *ngIf="g.game._loseCount" class="item-center text-red">LOSE</div>
            </div>
            <div class="cont-right">
                <div class="g-cont-top">
                  <div class="r-left">
                    <div class="text item-left">Avg PPR :{{g.game.roundAveragePPR}}</div>
                  </div>
                  <div class="r-right">
                    <div class="text item-left">Ton :{{g.game.roundTon}}</div>
                  </div>
                </div>
                <div class="g-cont-bottom">
                  <div class="r-left">
                    <div class="text item-left">Out score :{{g.game.outScore}}</div>
                  </div>
                  <div class="r-right">
                    <div class="text item-left">Ton80 :{{g.game.roundTon80}}</div>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>