user-report {

}
.rotate-90 {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.report-back{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.9;
  z-index: 10000;
}
.top-margin{
  margin-top: 3.0em;
}
.report-main{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 90%;
  z-index: 10001;
  overflow-y: auto;
  margin-top: 35px;
  .top-label{
    position: fixed;
    width: 100%;
    height: 3.0em;
    background-color: #130003;
    border-bottom: solid 1px #FFFFFF;
    z-index: 9999999999;
    .back-img{
      height: 2.0em;
      top: 0.5em;
    }
    .text{
      color: #FFFFFF;
      font-size: 1.5em;
      font-weight: bold;
    }
  }
  .item-label{
    position: relative;
    width: 100%;
    height: 3em;
    padding-left: 1.2em;
    padding-top: 1.5em;
    .text{
      color: #FFFFFF;
      font-size: 1.1em;
      font-weight: bold;
    }
  }
  .recently-chart{
    position: relative;
    width: 100%;
    height: 18em;
    color: #FFFFFF;
    border-bottom: solid 1px #FFFFFF;
  }
  .date-report{
    position: relative;
    width:100%;
    height: auto;
    .date-line{
      position: relative;
      width: 100%;
      height: 2em;
      margin-top: 1em;
      border-bottom: 1px solid #A0A0A0;
      .date-top-label{
        left : 1em;
        color: #FFFFFF;
        font-size:1.3em;
      }
    }
    .g-summary{
      position: relative;
      width: 100%;
      height: 6em;
      padding-left: 1.0em;
      padding-right: 1.0em;
      padding-top: 0.5em;
      .g-cont{
        position: relative;
        width: 100%;
        height: 100%;
        background-color: #5F5F5F;
        border-radius: 0.4em;
        .cont-left{
          position: relative;
          width:25%;
          height: 100%;
          float: left;
          .text-green{
            font-size: 1.5em;
            font-weight: bold;
            color: #99FF99;
          }
          .text-red{
            font-size: 1.5em;
            font-weight: bold;
            color: #FF9999;
          }
        }
        .cont-right{
          position: relative;
          width: 75%;
          height: 100%;
          display: inline-block;
        }
        .text{
          font-size: 1.1em;
          font-weight: bold;
          color: #ffffff;
        }
        .r-left{
          position: relative;
          width: 60%;
          height: 100%;
          float: left;
        }
        .r-right{
          position: relative;
          width:40%;
          height: 100%;
          display: inline-block;
        }
        .g-cont-top{
          position: relative;
          width: 100%;
          height: 50%;
        }
        .g-cont-bottom{
          position: relative;
          width: 100%;
          height: 50%;
        }
      }
    }
  }
}