detail-report {

}
.detail-report-back{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.6;
  z-index: 12000;
}

.detail-report-main{
  position: absolute;
  width: 80%;
  height: auto;
  max-height: 80%;
  z-index: 12001;
  background-color: #F0F0F0;
  overflow-y: auto;
  .detail-top{
    position: relative;
    width: 100%;
    height: 3.5em;
    border-bottom: 1px double #999999;
    .top-text{
      white-space: nowrap;
      font-size:1.5em;
      color: #393939;
      font-weight: bold;
    }
  }
  .detail-report{
    position: relative;
    width: 100%;
    height: 90%;
    .tl{
      position: relative;
      width: 50%;
      height: 100%;
      float: left;
      overflow-x: hidden;
      border: 1px solid #808080;
    }
    .tr{
      position: relative;
      width: 50%;
      height: 100%;
      display: inline-block;
      overflow-x: hidden;
      border: 1px solid #808080;
    }
    .s1{
      position: relative;
      width: 17%;
      height: 100%;
      float: left;
      overflow-x: hidden;
      border-bottom: 1px solid #808080;
      margin-top: -0.5px;
    }
    .s2{
      position: relative;
      width: 23%;
      height: 100%;
      float: left;
      overflow-x: hidden;
      border-left: 1px solid #808080;
      border-bottom: 1px solid #808080;
      border-right: 1px solid #808080;
      background-color: #B0B0B0;
    }
    .s3{
      position: relative;
      width: 23%;
      height: 100%;
      float: left;
      overflow-x: hidden;
      border-left: 1px solid #808080;
      border-bottom: 1px solid #808080;
      border-right: 1px solid #808080;
      background-color: #B0B0B0;
    }
    .se{
      position: relative;
      width: 17%;
      height: 100%;
      display: inline-block;
      overflow-x: hidden;
      border-bottom: 1px solid #808080;
      border-right: 1px solid #808080;
      margin-top: -0.5px;
    }
    .t1{
      position: relative;
      width: 17%;
      height: 100%;
      float: left;
      overflow-x: hidden;
      border-left: 1px solid #808080;
      border-bottom: 1px solid #808080;
    }
    .t2{
      position: relative;
      width: 23%;
      height: 100%;
      float: left;
      border-bottom: 1px solid #808080;
      border-left: 1px solid #808080;
      border-right: 1px solid #808080;
      background-color: #B0B0B0;
    }
    .t3{
      position: relative;
      width: 23%;
      height: 100%;
      float: left;
      border-bottom: 1px solid #808080;
      border-left: 1px solid #808080;
      border-right: 1px solid #808080;
      background-color: #B0B0B0;
    }
    .tm{
      position: relative;
      width: 20%;
      height: 100%;
      float: left;
    }
    .te{
      position: relative;
      width: 17%;
      height: 100%;
      display: inline-block;
      border-bottom: 1px solid #808080;
      border-right: 1px solid #808080;
    }
    .text{
      white-space: nowrap;
      font-size: 1.1em;
      font-weight: bold;
      color: #393939;
    }
    .report-top{
      position: relative;
      width: 100%;
      height: 2.5em;
      color: #393939;
    }
    .report-start{
      position: relative;
      width: 100%;
      height: 2.8em;
      color: #393939;
    }
    .report-main-view{
      position: relative;
      width: 100%;
      height: 2.8em;
      color: #393939;
    }
  }
}