<!-- Generated template for the DetailReportComponent component -->
<div class="detail-report-back" tappable (click)="outSideClick()">
</div>


<div class="detail-report-main item-center">
  <div class="detail-top">
    <div class="top-text item-center">MATCH REPORT</div>
  </div>
  <div class="detail-report">
    <div class="report-top">
        <div class="tl"><div class="text item-center">{{game.userName}}</div></div>
        <div class="tr"><div class="text item-center">{{game.enmName}}</div></div>
    </div>
    <div class="report-start">
      <div class="s1"><div class="text item-center"></div></div>
      <div class="s2"><div class="text item-center">{{game.zeroOne}}</div></div>
      <div class="tm"><div class="text item-center"></div></div>
      <div class="s3"><div class="text item-center">{{game.zeroOne}}</div></div>
      <div class="se"><div class="text item-center"></div></div>
    </div> 
    <div *ngFor="let s of game.roundScores; let i = index">
      <div class="report-main-view">
          <div class="t1" [ngStyle]="getScoreStyle(game.roundScores[i])"><div class="text item-center">{{game.roundScores[i]}}</div></div>
          <div class="t2" [ngStyle]="getToGoScoreStyle(game.toGo[i])"><div class="text item-center">{{game.toGo[i]}}</div></div>
          <div class="tm"><div class="text item-center">{{(i+1) * 3}}</div></div>
          <div class="t3" [ngStyle]="getToGoScoreStyle(game.enmToGo[i])"><div class="text item-center">{{game.enmToGo[i]}}</div></div>
          <div class="te" [ngStyle]="getScoreStyle(game.enm_roundScores[i])"><div class="text item-center">{{game.enm_roundScores[i]}}</div></div>
      </div>
    </div>
  </div>
</div>